common --noenable_bzlmod
common --experimental_repo_remote_exec
build --compilation_mode=opt
build --cpu=k8
build --cxxopt=-std=c++17
build --action_env=TF_PYTHON_VERSION=3.12
build --define=darwinn_portable=1
build --define=usb=libusb
build --define=tflite_with_edgetpu=true
build --cxxopt=-I/usr/include/libusb-1.0
# Use vendor_deps for faster builds
build --distdir=vendor_deps
build --repository_cache=~/.cache/bazel-repo
